////
//// #meatcheckr
//// Config styles
//// @author Jack Armley
////

// Set some general properties
// @type {Map}
$props:(
    maxw: 60rem,
    logolen: 10,
    basefont: 'League Spartan',
    strongfont: 'League Spartan'
);

// Set some colours
// @type {Color}
$pinksteak: #D55663;
$venison: #272324;
$baconrind: #FBD3CD;
$dripping: #fff;
$butchershopblue: #6EABFF;

// Tie colours to map
// @type {Map}
$colours:(
    base: $venison,
    light: $baconrind,
    highlight: $baconrind,
    key: $pinksteak,
    bg: $venison,
    white: $dripping,
    blue: $butchershopblue
);

// Color getter
// @param $value {String}
@function getcolor($value){
    @return map-get($colours,$value);
}

// Property getter
// @param $value {String}
@function getprop($value){
    @return map-get($props,$value);
}

$mediaqueries:(
    steak: getprop('maxw')
);

@mixin mq( $value:map-get($mediaqueries,steak) ){
    @media screen and (min-width: $value) {
        @content;
    }
}
