/**
 * #meatcheckr styles
 * @author Jack Armley
 */

/**
 * Dependancies
 */

// Import neccesary vars,
// functions and mixins
@import 'config';

/**
 * League Spartan
 * @src: League of Movable Type
 */
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/league-spartan/leaguespartan-bold.eot');
    src: url('../fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
         url('../fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/**
 * Outer styles
 */
*{
    box-sizing: border-box;
}
html{
    background:
        linear-gradient(
            to right,
            getcolor(blue) 50%, getcolor(white) 50%
        )
        repeat-x top left/5rem 100%
        getcolor(blue)
    ;
    font-size: 62.5%;
}
body{
    width: auto;
    min-height: 100vh;
    margin: 0;
    color: getcolor('base');
    font: 400 normal 160%/1.5em getprop('basefont'), sans-serif;
}
p{
    margin: 0 0 1em;
}
a{
    color: inherit;
}

/**
 * Meatcheckr component
 */
.meatcheckr{
    width: 50rem;
    margin: 4rem auto;
    /**
     * Heading
     */
    &-header{
        position: relative;
        &:before,
        &:after{
            content:' ';
            position: absolute;
            bottom: 0;
            z-index: 0;
            display: block;
            width: 0;
            height: 0;
            border: 2rem solid darken( getcolor(key), 10% );
        }
        &:before{
            left: 6.5rem;
            border-left-color: transparent;
        }
        &:after{
            right: 6.5rem;
            border-right-color: transparent;
        }
    }
        &-logo{
            position: relative;
            z-index: 1;
            overflow: hidden;
            height: 15rem;
            margin: 0;
            /**
             * Ribbon body
             */
            &:before{
                content:' ';
                position: absolute;
                left: 50%;
                display: block;
                width: 30rem;
                height: 30rem;
                margin-left: (-30rem/2);
                border-radius: 100%;
                box-shadow: inset 0 0 0 6rem getcolor(key);
            }

            /**
             * Style characters
             */
            span{
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 1em;
                height: 15rem;
                margin-left: -.5em;
                color: getcolor(white);
                line-height: 2;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 0 .5rem darken( getcolor(key),10% );
                transform-origin: bottom center;
            }
                /**
                 * Rotate characters
                 */
                $i: 0;
                $l: getprop(logolen);
                @for $i from 1 through $l{
                    $rotateval: ( - 90 + ( (180 / $l) * $i - $i ) );
                    @if ( $i == 1 ) {
                        $rotateval: $rotateval - 4;
                    }
                    :nth-child( #{$i} ){
                        transform: rotate($rotateval#{deg});
                    }
                    $i:$i+1;
                }
        }
    /**
     * Input form
     */
    &-form{
        position: relative;
        padding: 2rem 2rem .1rem;
        border: .5rem solid getcolor(key);
        border-radius: 1rem;
        background-color: getcolor(light);
        form{
            margin-bottom: 2rem;
        }
            label{
                display: none;
            }
            input{
                display: block;
                width: 100%;
                margin: 0;
                padding: 2rem;
                border: .1rem solid darken(getcolor(light),10%);
                font-size: 1.5em;
                font-family: getprop(strongfont);
                -webkit-appearance: none;
                &:focus{
                    outline: none;
                }
            }
            ::-webkit-input-placeholder{
                color: getcolor(base);
            }
    }
    /**
     * Suggestions list
     */
    &-suggestions{
        position: relative;
        top: .1rem;
        margin: 0;
        padding: 0;
        list-style: none;
        &-item{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 2rem 3rem;
            background-color: getcolor(key);
            text-align: center;
            > :last-child{
                margin-bottom: 0;
            }
            /**
             * Connector arrow
             * for first item in the list
             */
            &:first-of-type{
                &:before{
                    content:' ';
                    position: absolute;
                    top: -4rem;
                    left: 50%;
                    width: 0;
                    height: 0;
                    margin-left: -2rem;
                    border: 2rem solid transparent;
                    border-bottom-color: getcolor(key);
                }
            }
            /**
             * Inner elements
             */
            &-heading{
                margin: 0 0 .5em;
                color: getcolor(white);
                font-size: 2.5em;
                line-height: 1.3em;
                letter-spacing: .05em;
                text-transform: uppercase;
                &:before,
                &:after{
                    content:' ';
                    display: block;
                    width: 90%;
                    max-width: 2em;
                    height: .5rem;
                    margin: auto;
                    background-color: darken( getcolor(key),10% );
                }
                &:before{
                    margin-bottom: .25em;
                }
            }
            span{
                display: block;
                margin-bottom: .5em;
                font-size: 1.2em;
                text-transform: uppercase;
            }
        }
    }
    /**
     * Footer
     */
    &-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: getcolor(blue);
        text-align: center;
        p{
            margin: 0;
            color: getcolor(white);
            text-shadow: 0 .3rem darken( getcolor(blue),10% );
        }
    }
}
