doctype html
meta(charset="utf-8")
html
    head
        title= locals.title
        link(rel="stylesheet" href="./static/styles/styles.css")
        meta(name='viewport', content='width=device-width,scale=1')
    body
        .site-wrapper
            header.site-header(role="banner")
                .layoutwrap
                    h1.site-logo: a(href='./form.html')= locals.title
                    p.site-tagline=locals.tagline
            main(role="main").page-wrapper
                .layoutwrap
                    block content
            footer.site-footer(role="banner")
                .layoutwrap
                    p.
                        A collaborative project that was part of the
                        Hackathon for Gender Equality 2015
        block scripts
