////
//// Gender equality hack
//// Variables
//// @author Nik, Jenny, Jack, Kabu
////

// Set some colours
// @type {Color}
$default: #333;
$grey: #999;
$sunrise: #ffa910;

// Tie colours to map
// @type {Map}
$colours:(
    base: $default,
    muted: $grey,
    key: $sunrise,
    pullpanel: darken($sunrise,10%),
    light: #fff
);

// Color getter
// @param $value {String}
@function getcolor($value){
    @return map-get($colours,$value);
}
