////
//// Gender equality hack
//// Variables
//// @author Nik, Jenny, Jack, Kabu
////

// Set some colours
// @type {Color}
$default: #333;
$grey: #999;

// Tie colours to map
// @type {Map}
$colours:(
    base: $default,
    muted: $grey
);

// Color getter
// @param $value {String}
@function getcolor($value){
    @return map-get($colours,$value);
}
