////
//// Gender equality hack
//// Variables
//// @author Nik, Jenny, Jack, Kabu
////

// Set some colours
// @type {Color}
$default: #333;
$grey: #999;
$sunrise: #ffa910;

// Tie colours to map
// @type {Map}
$colours:(
    base: $default,
    muted: $grey,
    key: $sunrise,
    pullpanel: darken($sunrise,10%),
    light: #fff
);

// Color getter
// @param $value {String}
@function getcolor($value){
    @return map-get($colours,$value);
}

// Media queries
// @type {Map}
$mq:(
     malva: (450/16)+'em' // from mobiles up (an african dessert)
);

@mixin mq($size: malva){
    $query: map-get($mq,$size);
    @media screen and (min-width: $query){
        @content;
    }
}
