/**
 * Gender equality base styles
 * @author Nik, Jenny, Jack, Kabu
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,700');
html{
    font-size: 62.5%;
}
body{
    color: getcolor('base');
    font: normal normal 160%/1.6 'Montserrat',sans-serif;
}

/**
 * Links
 */

a{
    color: getcolor('branddark');
}

/**
 * Forms
 */
form{
    @at-root{
        fieldset{
            margin: 0 0 2rem;
            padding: 0;
            border: 0;
        }
        legend{
            display: none;
        }
        label,
        input{
            display: block;
        }
        label{
            margin-bottom: 1rem;
        }
        input,
        textarea{
            width: 100%;
            padding: 2rem;
            border: none;
            border-radius: .5rem;
            background: getcolor('brandbright');
        }
        textarea{
            min-height: 15rem;
        }
    }
}
