/**
 * Gender equality layout styles
 * @author Nik, Jenny, Jack, Kabu
 */
html{
    background:
        linear-gradient(to bottom, fade-out(black,0), fade-out(black,1)) top left/100% 20rem repeat-x,
        url('../images/bg.jpg') top left/10rem 10rem fixed
        getcolor('brandbright');
    background-blend-mode: overlay;
    @include mq{
        background-size:
            100% 20rem,
            auto;
    }
}
body{
    @include brandstripe;
}
.layoutwrap{
    position: relative;
    width: auto;
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    @include mq{
        width: 90%;
        padding:{
            top: 4rem;
            bottom: 4rem;
        };
    }
}
.site-header{
    text-align: center;
    @at-root{
        .site-logo{
            width: 15rem;
            height: 15rem;
            margin: auto;
            overflow: hidden;
            background: url('../images/logo.png') top left/contain no-repeat;
            text-indent: 110%;
            white-space: nowrap;
            a{
                display: block;
                height: 15rem;
            }
            @include mq{
                width: 20rem;
                height: 20rem;
                a{
                    height: 20rem;
                }
            }
        }
        .site-tagline{
            margin: 0;
            color: getcolor('light');
            @include mq{
                font-size: 1.2em;
            }
        }
    }
    &--compact{
        .layoutwrap{
            padding:{
                top: 1rem;
                bottom: 1rem;
            };
        }
        .site-logo{
            width: 10rem;
            height: 10rem;
            a{
                height: 10rem;
            }
        }
        @include mq{
            .layoutwrap{
                padding:{
                    top: 1rem;
                    bottom: 1rem;
                };
            }
            .site-logo{
                width: 10rem;
                height: 10rem;
                a{
                    height: 10rem;
                }
            }
        }
    }
}
.page-wrapper{
    .layoutwrap{
        background-color: getcolor('light');
        @include mq{
            border-radius: .5rem;
        }
        & > :first-child{
            margin-top: 0;
        }
    }
}
.site-footer{
    p{
        margin: 0;
        color: getcolor('light');
        text-align: center;
    }
}

/**
 * Sharing
 */
.story{
    margin-bottom: 2rem;
    .fontawesome-link{
        display: none;
    }
    @include mq{
        margin-bottom: 4rem;
        .fontawesome-link{
            display: inline-block;
            + input{
                display: inline-block;
                width: auto;
            }
        }
    }
}
.shares{
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 2rem 2rem 0;
    border-top: .5rem solid getcolor('brandbright');
    .share{
        width: 100%;
        h3{
            margin-top: 0;
        }
        ul{
            padding-left: 0;
            list-style: none;
        }
    }
    @include mq{
        display: flex;
        .share{
            text-align: center;
            &:first-child{
                border-right: .1rem solid getcolor('brandbright');
            }
        }
    }
}
