/**
 * Gender equality modular styles
 * @author Nik, Jenny, Jack, Kabu
 */

/**
 * Buttons
 */

#map {
  width:100%;
  height: 600px;
}

.btn{
    display: inline-block;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    background: getcolor('brandbright');
    color: getcolor('base');
    text-align: center;
    &-prominent{
        padding: 2rem;
        background: getcolor('branddark');
        color: getcolor('light');
    }
}
a.btn{
    text-decoration: none;
}

/**
 * Story form
 * specific styles
 */
.storyform{
    &-addchapter{
        display: flex;
        width: 10rem;
        height: 10rem;
        margin: auto;
        border-radius: 100%;
        line-height: 1.2;
        span{
            margin: auto;
        }
    }
    &-actions{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}

/**
 * Helpers
 */
.centered{
    text-align: center;
}

/**
 * fontawesome
 */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  margin-right: 1rem;
}
